@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
	var Campaigns = (ContentModels.Campaigns)Model.Root().Children().Where(x => x.IsDocumentType("Campaigns")).FirstOrDefault();
}
<div class="content"><div class="ic">More Website Templates TemplateMonster.com - March 24, 2014!</div>
			<!--Press / Media-->
			<div class="container_12">
				<div class="grid_7">
					<div class="block2">
						<h2><a href="http://www.youtube.com/watch?v=W4GMYQx58OE">The Lizard Effect in Lesotho</a></h2>
						<figure class="video">
							<iframe width="640" height="360" src="http://www.youtube.com/embed/W4GMYQx58OE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
						</figure>
						Lorem ipsum dolor sit amet, secteturipiscing elitno mollis erat mattis neque cilisis, sit amet ultricies erater utrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam
					</div>
				</div>
				
			</div>
			<div class="container_12">
				<!--Compagins-->
				<div class="grid_9">
					<h2>Our Campaigns</h2>
					<section>
						<ul id="da-thumbs" class="da-thumbs">
							@{
								foreach(ContentModels.Campaign item in Campaigns.Children.Take(Convert.ToInt32(Campaigns.NumberOfCampaigns)))
								{
									<li>
										<a href="#">
										<img src=@item.CampaignImage.Url() alt="" />
										<div><span>@item.CampaignTitle</span></div>
										</a>
									</li>
								}
							}
						</ul>
					</section>
				</div>

				<div class="grid_3">
					<h2>Latest News</h2>
					<ul class="list">
						<li>
							<time datetime="2014-01-01">29<span>Jan</span></time>
							<div class="extra_wrapper">
								<div class="title col2"><a href="#">Vivamuagna</a></div>
								amus at magn
								malesuada fauc
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">02<span>Feb</span></time>
							<div class="extra_wrapper">
								<div class="title col2"><a href="#">Dereamuagne</a></div>
								amus at magn
								malesuada faut
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">20<span>Feb</span></time>
							<div class="extra_wrapper">
								<div class="title col2"><a href="#">Hovamuagrt</a></div>
								emus at mago malesuada fau
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">05<span>Mar</span></time>
							<div class="extra_wrapper">
								<div class="title col2"><a href="#">Meloamuar</a></div>
								ferus at magne malesuada faui
							</div>
						</li>
					</ul>
					<blockquote class="bq1">
						<div class="title">Testimonials</div>
						<p>Nulla vel viverra auctorleo magna sodales felis, quis malesuada nibh odio ut </p>
						<div class="col2">Sandra Wood</div>
					</blockquote>
				</div>


				<div class="grid_12">
					<h2>Contact Form</h2>
					24/7 support is available for all <span class="col1"><a href="http://www.templatemonster.com/website-templates.php" rel="nofollow">premium</a></span> themes produced by TemplateMonster. Free themes go without it.
					<br>
					If you want a help in customization of the chosen freebie, address to <span class="col1"><a href="http://www.templatetuning.com/" rel="nofollow">TemplateTuning.</a></span>
					<form id="form">
						<div class="success_wrapper">
							<div class="success-message">Contact form submitted</div>
						</div>
						<label class="name">
							<input type="text" placeholder="Name:" data-constraints="Required JustLetters" />
							<span class="empty-message">*This field is required.</span>
							<span class="error-message">*This is not a valid name.</span>
						</label>
						<label class="email">
							<input type="text" placeholder="Email:" data-constraints="Required Email" />
							<span class="empty-message">*This field is required.</span>
							<span class="error-message">*This is not a valid email.</span>
						</label>
						<label class="subject">
							<input type="text" placeholder="Subject:" data-constraints="Required JustLetters"/>
							<span class="empty-message">*This field is required.</span>
							<span class="error-message">*This is not a valid phone.</span>
						</label>
						<label class="message">
							<textarea placeholder="Message:" data-constraints='Required Length(min=20,max=999999)'></textarea>
							<span class="empty-message">*This field is required.</span>
							<span class="error-message">*The message is too short.</span>
						</label>
						<div>
							<div class="clear"></div>
							<div class="btns">
								<a href="#" data-type="reset" class="btn">Clear</a>
								<a href="#" data-type="submit" class="btn">Send</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		