@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var homePage = (ContentModels.Home)Model.Root();
	Layout = "Layout.cshtml";
}

@foreach(ContentModels.Meal item in Model.Children()){
	@if(item.MealType == "try")
	{
		<p>@item.MealName</p>
		<p>@item.MealPrice</p>
		@foreach(var tag in item.MealTags)
		{
			<p>tag</p>
			var ca = tag !=item.MealTags.Last()?",":"";
			@ca
		}
		
	}
}
@Model.Value("pageContent")