@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GetInvolved>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}
<div class="content"><div class="ic">More Website Templates TemplateMonster.com - March 24, 2014!</div>
			<div class="container_12">
				<div class="gallery">
					<div class="grid_3">
						<h2>Aliquam nibh antd dictum</h2>
						<a href="images/big1.jpg" class="gal"><img src="images/page4_img1.jpg" alt=""></a>
						Broin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis masser
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Praesent faucibus malesu</h2>
						<a href="images/big2.jpg" class="gal"><img src="images/page4_img2.jpg" alt=""></a>
						Kroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis mass
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Hraesenibus malesua</h2>
						<a href="images/big3.jpg" class="gal"><img src="images/page4_img3.jpg" alt=""></a>
						Groin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis massylo
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Tam nibh antd dictumer</h2>
						<a href="images/big4.jpg" class="gal"><img src="images/page4_img4.jpg" alt=""></a>
						Xasroin pharetra luctudiamesque eros convallikoaecenas vehicula egestas venenatisss
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="clear"></div>
					<div class="grid_3">
						<h2>Stibuluantd dictumertol</h2>
						<a href="images/big5.jpg" class="gal"><img src="images/page4_img5.jpg" alt=""></a>
						Kroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis mass
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Vestibulum volutpat turpi</h2>
						<a href="images/big6.jpg" class="gal"><img src="images/page4_img6.jpg" alt=""></a>
						Froin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis massolo
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Ferquam nibh antd dictuo</h2>
						<a href="images/big7.jpg" class="gal"><img src="images/page4_img7.jpg" alt=""></a>
						Rein pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatisis massde
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Deram nibh antd dictumo</h2>
						<a href="images/big8.jpg" class="gal"><img src="images/page4_img8.jpg" alt=""></a>
						Jroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis masolo
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="clear"></div>
					<div class="grid_3">
						<h2>Gertolobh antd dictumew</h2>
						<a href="images/big9.jpg" class="gal"><img src="images/page4_img9.jpg" alt=""></a>
						Geroin pharetra luctusdiamesque erosallikoaecenas vehicul egestas venenatis. Duis masswertloi
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="grid_3">
						<h2>Aliquam nibh antd dictum</h2>
						<a href="images/big10.jpg" class="gal"><img src="images/page4_img10.jpg" alt=""></a>
						Kroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis mass
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>