@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Service>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}
<div class="content"><div class="ic">More Website Templates TemplateMonster.com - March 24, 2014!</div>
			<div class="container_12">
				<div class="grid_6">
					<h2>We Care About Giving</h2>
					<img src="images/page2_img1.jpg" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<p class="col2"><a href="#">Bras facilisis, nulla vel viverra tor, leo magna sodales felis, quise </a></p>
						Kroin pharetra luctus diamer scelerisque eros convalliko
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="clear cl1"></div>
					<img src="images/page2_img2.jpg" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<p class="col2"><a href="#">Horas facilisis, nulla vel viverra tor, leo magna sodales felisulo </a></p>
						Proin pharetra luctus diamerer scelerisque eros convallisami
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="clear cl2"></div>
					<img src="images/page2_img3.jpg" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<p class="col2"><a href="#">Goreas facilisis, nulla vel viverra tor, leo magna sodales felisuiser </a></p>
						Loroin pharetra luctus diamer scelerisque eros convallisager
						<br>
						<a href="#" class="btn">Learn More</a>
					</div>
					<div class="clear cl1"></div>
				</div>
				<div class="grid_5 prefix_1">
					<h2>Upcoming Actions</h2>
					<ul class="list l1 col2">
						<li>
							<time datetime="2014-01-01">20<span>Mar</span></time>
							<div class="extra_wraper">
								<a href="#">Lorem ipsum dolor sit amet, secteturipiscing elitno mollis erat mattis neque facilisis, sit amet ultricies erater </a>
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">30<span>Mar</span></time>
							<div class="extra_wraper">
								<a href="#">Dorem ipsum dolor sit amet, secteturipiscing elitno mollis erat mattis neque facilisis, sit amet ultricies erater eroli</a>
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">10<span>Apr</span></time>
							<div class="extra_wraper">
								<a href="#">Morem ipsum dolor sit amet, secteturipiscing elitno mollis erat mattis neque facilisis, sit amet ultricies eraterer lokoi </a>
							</div>
						</li>
						<li>
							<time datetime="2014-01-01">25<span>Apr</span></time>
							<div class="extra_wraper">
								<a href="#">Toloorem ipsum dolor sit amet, teturipiscing elitno mollis erat mattis neque facilisis, sit amet ultricies eraterwe retylo </a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="hor hr1"></div>
			<div class="container_12">
				<div class="grid_3 maxheight">
					<h2>Our Services</h2>
					<ul class="list1 col2">
						<li><a href="#">Vivamuagnamere bertoli molo</a></li>
						<li><a href="#">Mervamuagnarewq geertoli molotilo</a></li>
						<li><a href="#">Fergnamerolomer ertoli molore</a></li>
						<li><a href="#">Hertoamuagna bertoli tilok</a></li>
						<li><a href="#">Dasvamuagnarew ertoli molov</a></li>
					</ul>
				</div>
				<div class="grid_4 prefix_1 suffix_1 ver maxheight">
					<h2>About the Latest Action</h2>
					<div class="block1">
						<img src="images/page2_img4.jpg" alt="">
						Maecenas vehicula egestas enatis. Duis mass uctor non pellentesque vel liquet sit amet erat. Nullam eget dignissim nisi, aliquam
					</div>
				</div>
				<div class="grid_3 maxheight">
					<h2>Testimonials</h2>
					<blockquote class="bq2">
						<p>Nulla vel viverra auctorleo agna sodales felis, quis malesuada nibh odio ut velit. Proin phar</p>
						<div class="bq_bot">Mark Johnson, <a href="#" class="col1">info@demolink.org</a></div>
					</blockquote>
					<blockquote class="bq2">
						<p>Mulla vel viverra auctorleo nign sodales felis, quis malesuadat nibh odio ut veliin pharew</p>
						<div class="bq_bot">Patrick Pool, <a href="#" class="col1">info@demolink.org</a></div>
					</blockquote>
				</div>
			</div>
		</div>